// media queries for all stylesheet components

@media (min-width: 768px) {
  .navbar {
    border-radius: 0;
  }
}

@media (max-width: 960px) {
  .message-area {
    padding-top: 0 !important;
    height: 5em;
    textarea {
      height: 3em !important;
    }
  }
  .conversation-area {
    bottom: 5em !important;
    padding: 0 10%;
  }
}

@media (max-width: 767.98px) {
  .conversation-area {
    max-width: 100%;
    padding: 15px;
    .messages {
      padding: 0;
    }
  }
  .single-message {
    margin-left: 0;
    .sender-name {
      display: none;
    }
  }
  .authentication-block {
    form .custom-fields {
      width: 80%;
    }
  }
  .navbar {
    .container {
      width: 100%;
      padding: 15px;
      .navbar-brand {
        line-height: 15px;
      }
    }
    .opposed-user {
      margin: 0;
      padding: 12px 0;
    }
  }
  .user-profile {
    margin: 0 5px;
  }
  .user-account-info {
    padding: 0 15px;
  }
}