// Place all the styles related to the messages controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.message-field {
  padding-bottom: 1em;
}

.messages {
  max-width: 940px;
  margin: 0 auto;
  padding: 1em;
}

.message-area {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  padding-top: 1em;
  border-top: 1px solid #e7e7e7;
  background: #ffffff;

  .message-form {
    position: relative;
  }

  .message-form label {
    display: none;
  }

  .message-form .btn-default {
    background: #ffffff;
    color: #333333;
    border-color: #999999;
    &:hover {
      background: #782220;
      color: #ffffff;
      border-color: #782220;
    }
  }

  .message-form .message-button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 0 5px 5px 0;
    border-color: #999;
    &:hover {
      background: #333;
      border-color: #333;
    }
  }
}

.message-form .message-form-area {
  height: 7em;
  white-space: pre-wrap;
  resize: none;
  font-size: 1.2em;
}

.single-message {
  position: relative;
  max-width: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
  font-size: 1.3em;
  color: #333333;

  .sender-name {
    position: absolute;
    display: inline-block;
    width: 150px;
    top: 15px;
    left: -9em;
    text-align: right;

    a {
      color: #acacac;
      font-size: 1em;
      text-decoration: none;
      &:hover {
        color: #782220;
      }
    }
  }

  p.message-body {
    display: inline-block;
    padding: 15px 15px 20px 15px;
    margin: 0;
    white-space: pre-wrap;
    width: 100%;
    border-radius: 5px;
  }
  .current-user-message {
    color: #333333;
    background: #f6f6f6;
  }
  .opposed-user-message {
    color: #333333;
    background: #fbf1f1;
  }
  .message-timestamps {
    display: inline-block;
    position: absolute;
    right: 8px;
    bottom: 5px;
    font-size: 0.7em;
    color: #999999;
    user-select: none;
  }
  .message-expanding {
    display: inline-block;
    position: absolute;
    right: 60px;
    bottom: 0px;
    font-size: 0.8em;
    color: #999999;
    padding: 5px;
  }
}