// Place all the styles related to the Users controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users-list,
.user-profile {
  span.username {
    color: #666666 !important;
    margin-left: 5px;
  }
}

.user-profile {
  width: 100%;
  display: none;
  padding: 0;
  z-index: 10;
  margin: 0 -10px;
  h3 {
    color: #782220;
  }
  h4 {
    margin-top: 0;
    margin-bottom: 3%;
    font-size: 200%;
  }
  p {
    font-size: 170%;
    color: #666666;
    span.user-info-value {
      color: #333333;
    }
    span.mobile {
      margin-right: 9px;
    }
  }
  svg {
    margin: 0 5px -3px 0;
  }
  .actions {
    margin-top: 2em;
    .user-profile-link,
    .user-account-link {
      margin-right: 5px;
      border-color: #eeeeee;
      font-size: 1.2em;
      color: #666666;
      &:hover {
        background-color: #eeeeee;
      }
    }
  }
}